<nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
<div class="row">
    <div class="col">
        <a class="navbar-brand  flex-row" rel="author" href="/EN/">
            <h1><img src="https://www.mousehelper.cls-system.es/assets/images/MouseHelper.png" alt="MouseHelper" class="img-fluid" width="65">MouseHelper</h1>
            <img class="img-fluid" style="vertical-align:bottom" alt="Mouse Helper" width="200" src="https://www.mousehelper.cls-system.es/assets/images/byClsSystem.png">
        </a>
        <ul class="navbar-nav mt-0 flex-row">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English</a>
                <div class="dropdown-menu" aria-labelledby="dropdown09">
                    <a class="dropdown-item" href="https://www.mousehelper.cls-system.es/">Español</a>
                    <a class="dropdown-item" href="https://www.mousehelper.cls-system.es/EU">Euskara</a>
                    <a class="dropdown-item" href="https://www.mousehelper.cls-system.es/EN">English</a>
                </div>
            </li>
        </ul>
    </div>                                        
                        
</div>        
    
</div>
    </nav>
