<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='keywords' content="Mouse Helper, MouseHelper, sagua, pertsonak, zailtasunak, motorra, Parkinsona, ezgaitasuna, gaixotasuna" />
    <meta name="author" content="ClsSystem - Antonio Liberal" />
    <meta property="og:image" content="https://www.mousehelper.cls-system.es/assets/images/MouseHelper.png" />
    <meta property="og:type" content="article" />
    <meta name='twitter:card' content='summary_large_image'>
    <meta name='twitter:image:src' content='https://www.mousehelper.cls-system.es/assets/images/MouseHelper.png'>
    <meta name="twitter:site" content="@mouse_helper">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="ClsSystem-ek Windows-en sagua maneiatzeko ClinsSystem-ek sortutako laguntza-softwarea, esaterako, Parkinsona bezalako gaixotasun motorrak dituztenentzat">

    <link rel="shortcut icon" type="image/x-icon" href="https://www.mousehelper.cls-system.es/assets/images/favicon.ico">

    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <!--<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">-->
    {%- feed_meta -%}
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</head>
