<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="INDEX,FOLLOW,ALL">
    <meta name='keywords' content="Mouse Helper, MouseHelper, mouse, people, difficulties, motor, Parkinson's, disability, disease" />
    <meta name='news_keywords' content="Mouse Helper, MouseHelper, mouse, people, difficulties, motor, Parkinson's, disability, disease" />
    <meta property="article:tag" content="Parkinson" />
    <meta property="article:tag" content="MouseHelper" />
    <meta property="article:tag" content="Disability" />
    <meta property="article:tag" content="Mouse" />
        <meta name="author" content="ClsSystem - Antonio Liberal" />
    <meta property="og:image" content="https://clssystem.github.io/MouseHelperWeb/assets/images/MouseHelper.png" />
    <meta property="og:type" content="article" />
    <meta name='twitter:card' content='summary_large_image'>
    <meta name='twitter:image:src' content='https://clssystem.github.io/MouseHelperWeb/assets/images/MouseHelper.png'>
    <meta name="twitter:site" content="@mouse_helper">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="A software created by ClsSystem to improve mouse handling in Windows, for people with motor disabilities such as Parkinson's disease">

    <link rel="shortcut icon" type="image/x-icon" href="https://clssystem.github.io/MouseHelperWeb/assets/images/favicon.ico">

    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    {%- feed_meta -%}
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</head>
