    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand  flex-row" rel="author" href="{{ "/" | relative_url }}">
                <h1><img src="https://clssystem.github.io/MouseHelperWeb/assets/images/MouseHelper.png" alt="MouseHelper" class="img-fluid" width="40px" />MouseHelper
            </a>
            <a class="navbar-nav mt-0 flex-row">
                <img src="https://clssystem.github.io/MouseHelperWeb/assets/images/byClsSystem.png" width="108" height="32" alt="Mouse Helper" style="vertical-align:bottom">            </h1>
            </a>
            <ul class="navbar-nav mt-0 flex-row">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Idioma</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="https://clssystem.github.io/MouseHelperWeb/">Español</a>
                        <a class="dropdown-item" href="https://clssystem.github.io/MouseHelperWeb/EU">Euskara</a>
                        <a class="dropdown-item" href="https://clssystem.github.io/MouseHelperWeb/EN">English</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
