<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">
            <img src="https://clssystem.github.io/MouseHelperWebBeta/assets/images/MouseHelper.png" alt="MouseHelper" class="img-fluid" />
        </a>
<ul class="nav navbar-nav navbar-right">
                        <!-- Grid 12 Menu -->
                        <li class="te-atendemos dropdown yamm-fw">
                            <a id="ctl00_lnkTeAtendemos" title="Te atendemos" class="dropdown-toggle ico-atendemos" data-toggle="dropdown" href="../../../../MasterPage/#">Te atendemos</a>
                            <ul class="dropdown-menu">
                                <li class="grid">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h1>
                                                Te atendemos
                                            </h1>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="cerrar"><a href="#">
                                                Cerrar
                                            </a></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <span class="etiqueta">
                                                Correo electrónico
                                            </span> 
                                            <span>
                                                <a id="ctl00_lnkTAZona1Enlace1" class="boton-link" href="/home_es/Indices/Sugerencias/">Enviar email</a>
                                            </span>
                                            <span class="etiqueta">
                                                Chat
                                            </span>
                                            <span>
                                                <a id="ctl00_lnkTAZona1Enlace2" class="boton-link" href="/home_es/Servicios/AtencionCiudadana/Chat.htm">¡Hablemos!</a>
                                            </span>
                                            <span class="etiqueta">
                                                Presencialmente
                                            </span> 
                                            <span>
                                                <a id="ctl00_lnkTAZona1Enlace3" class="boton-link" href="/home_es/Servicios/AtencionCiudadana/Oficinas.htm">Oficinas</a>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="etiqueta">
                                                Por teléfono
                                            </span>
                                            <div class="telefono">
                                                <span class="num">
                                                    012
                                                </span>
                                                <p>
                                                    Coste de la llamada 0.34€
                                                </p>
                                            </div>
                                            <div class="telefono">
                                                <span class="num">
                                                    948 012 012
                                                </span>
                                                <p>
                                                    Coste llamada local o gratuito (con tarifa plana)
                                                </p>
                                            </div>
                                            <div class="telefono last">
                                                <span class="horario">
                                                    Horario
                                                </span>
                                                <p>
                                                    De 8:00h a 19:00h  de lunes a viernes. En verano (del 1 de julio al 15 de agosto): lunes a viernes: de 8:00 a 15:00 h
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="etiqueta social">
                                                Redes Sociales
                                            </span> 
                                            <span id="ctl00_spanEnlace1">
                                                    <a id="ctl00_lnkZona3Enlace1" title="directorio de redes" class="boton-social last" href="/home_es/Servicios/AtencionCiudadana/Directorio+redes+sociales.htm" target="_blank" style="background-image: url('/NR/rdonlyres/AD176105-0B7D-4495-8996-C81A7E9E9916/464026/ico_directorio_redes1.png'); background-position: 18px center; background-repeat: no-repeat;">Directorio de redes</a>
                                            </span>
                                            
                                            
                                            
                                            
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown area-personal">
                            
                        </li>
                        <li class="dropdown idiomas">
                            <a id="ctl00_lnkIdioma" class="dropdown-toggle ico-idioma" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="collapse" data-target="#dropdownIdiomas" title="Idiomas">Idiomas
                                    <span class="caret"></span>
                            </a>
                        </li>
                        <li>
                            
        <ul class="dropdown-menu idioma" id="dropdownIdiomas">
    
	    <li>
	        <a><strong>Castellano</strong></a>
	    </li>
	
	    <li>
	        <a href="/home_eu/" lang="eu" xml:lang="eu">Euskara</a>
	    </li>
	
	    <li>
	        <a href="/home_fr/" lang="fr" xml:lang="fr">Français</a>
	    </li>
	
	    <li>
	        <a href="/home_en/" lang="en" xml:lang="en">English</a>
	    </li>
	
        </ul>
    
                        </li>
                    </ul>        
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-es"> </span> Español</a>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="https://clssystem.github.io/MouseHelperWeb/"><span class="flag-icon flag-icon-es"> </span>  Español</a>
            <a class="dropdown-item" href="https://clssystem.github.io/MouseHelperWeb/EU"><span class="flag-icon flag-icon-eu"> </span>  Euskara</a>
        </div>
        {%- assign page_paths = site.header_pages -%}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
                {%- endif -%}
                {% endfor -%}
                <!--<li class="nav-item">
                <a class="nav-link" href="{{ site.github.repository_url }}">Fork me on Github</a>
            </li>-->
            </ul>
        </div>
    </div>
</nav>
